@model CromWood.Business.Models.TenantModel

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_TenantDetail.cshtml";

    string id = "'" + Model.Id.ToString() + "'";
}

<div class="tab-pane fade show border border-top-0 active bg-white" id="individual_details"
     role="tabpanel" aria-labelledby="nav-user-list-tab">
    <div class="card-header border-bottom-0 pb-0 bg-white">
        <div class="row align-items-center pb-3">
            <div class="col-6">
                <h4 class="heading-style2 mb-0">Individual Details</h4>
            </div>
            <div class="col-6">
                <div class="shadow-box ms-auto mt-2">
                    <a class="custom__btn" onclick="ModifyTenant(@id)">
                        <img src="~/assets/img/edit_icon.svg" alt="user__iocn">
                        Edit details
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-3">
        <table class="table">
            <tbody class="asset_table">
                <tr>
                    <th class="r_heading" scope="row">Name</th>
                    <td>@Model.FullName</td>
                </tr>
                <tr class="bg-white">
                    <th class="r_heading" scope="row">Phone Number</th>
                    <td colspan="2">@(Model.Phone ?? "--")</td>
                </tr>
                <tr>
                    <th class="r_heading" scope="row">Email Address</th>
                    <td colspan="2">@(Model.Email ?? "--")</td>
                </tr>
                <tr class="bg-white">
                    <th class="r_heading" scope="row">National Insurance Number</th>
                    <td colspan="2">@(Model.NIN ?? "--")</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="modal fade" id="tenantDialog">
    <div class="modal-dialog modal-dialog-centered" id="tenantDialogBody">
    </div>
</div>


<script>
    function ModifyTenant(id) {
        var url = "/Tenant/ModifyTenant/" + id;
        $("#tenantDialogBody").load(url, function () {
            // This is done to add validation to partial view, as they don't support validationscript partial.
            $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js", function () {
                $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js", function () {
                });
            });
            $("#tenantDialogBody").css("max-width", "950px");
            $("#tenantDialogBody").css("width", "100%");
            $("#tenantDialog").modal("show");
        });
    }
</script>