@using CromWood.Business.Services.Interface;
@using CromWood.Data.Entities.Default;
@model CromWood.Business.Models.TenantModel;
@inject ILookupService<Country> _lookupCountry;
@inject ILookupService<Salution> _lookupSalutation;

@{
    var asyncSalutions = await _lookupSalutation.GetAllItems();
    var salutations = new SelectList(asyncSalutions.Data, "Id", "Name");

    var asyncCountries = await _lookupCountry.GetAllItems();
    var countries = new SelectList(asyncCountries.Data, "Id", "Name");

    // Find out if the edit is for details or bank details
    var forBank = ViewBag.ForBank;
    var detailClass = forBank?"display:none;":"display:block;";
    var bankDetailClass = forBank ? "display:block;" : "display:none;";
}

<div class="modal-content rounded-0">
    <div class="modal-header py-2 position-relative w-100 bg-white">
        <h5 class="modal-title" id="staticBackdropLabel">Link Tenant</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body p-4">
        <div class="col-md-12">
            <form asp-action="ModifyTenant" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.HiddenFor(m=>m.Id)
                
                    <div style="@detailClass">
                    <div class="form-group">
                        <label class="form-label"> Salutation </label>
                        <select class="form-control" asp-for="SalutationId" asp-items="salutations">
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label"> Tenant Name </label>
                        <input class="form-control" asp-for="FullName">
                    </div>
                    <div class="form-group">
                        <label class="form-label"> Phone </label>
                        <input class="form-control" asp-for="Phone">
                    </div>
                    <div class="form-group">
                        <label class="form-label"> Email </label>
                        <input class="form-control" asp-for="Email">
                    </div>
                    <div class="form-group">
                        <label class="form-label"> NIN </label>
                        <input class="form-control" asp-for="NIN">
                    </div>
                    </div>
                <div style="@bankDetailClass">
                    <div class="form-group">
                        <label class="form-label">Account Name </label>
                        <input class="form-control" asp-for="AccountName">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Account Number </label>
                        <input class="form-control" asp-for="AccountNumber">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Sort Code </label>
                        <input class="form-control" asp-for="SortCode">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Bank Name </label>
                        <input class="form-control" asp-for="BankName">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Address Line 1 </label>
                        <input class="form-control" asp-for="AddressLine1">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Address Line 2 </label>
                        <input class="form-control" asp-for="AddressLine2">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Street Area </label>
                        <input class="form-control" asp-for="StreetArea">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Landmark </label>
                        <input class="form-control" asp-for="Landmark">
                    </div>
                    <div class="form-group">
                        <label class="form-label">City </label>
                        <input class="form-control" asp-for="City">
                    </div>
                    <div class="form-group">
                        <label class="form-label">County </label>
                        <input class="form-control" asp-for="County">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Postal code </label>
                        <input class="form-control" asp-for="PostCode">
                    </div>
                    <div class="form-group">
                        <label class="form-label"> Country </label>
                        <select class="form-control" asp-for="CountryId" asp-items="countries">
                        </select>
                    </div>
                    </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

