@model IEnumerable<CromWood.Business.Models.TenancyDocumentModel>

@{
    ViewData["Title"] = "Documents";
    Layout = "~/Views/Shared/_TenancyDetail.cshtml";

    var rawId = ViewContext.RouteData.Values["id"] as string;
    string tenancyId = "'" + Guid.Parse(rawId).ToString() + "'";
    string emptyGuid = "'" + Guid.Empty.ToString() + "'";
}
<div class="tab-pane fade show border border-top-0 active bg-white">
    <div class="card-header border-bottom-0 pt-3 pb-0 bg-white">
        <div class="row align-items-center mb-1">
            <div class="col-6">
                <h4 class="heading-style2 mb-0">Documents</h4>
            </div>
            <div class="col-6 ">
                <div class="shadow-box ms-auto">
                    <a class="custom__btn" onclick="AddModifyDocuments(@tenancyId,@emptyGuid)">
                        <img src="~/assets/img/upload_icon.svg" alt="dots_icon"> UPLOAD FILE
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="px-3 pt-2">
        <div class="row">
            @foreach (var item in Model)
            {
            string id = "'" + item.Id.ToString() + "'";
            <div class="col-md-3">
                <div class="doc_img">
                    <embed src="@item.DocUrl" class="img-fluid w-100 h-100" style="height:150px !important;object-fit:cover;" alt="pdf_files">
                    <div class="pdf_footer px-3 py-3 d-flex justify-content-between align-items-center">
                        <p class="pagagraph mb-0">@item.DocumentName</p>
                        <div class="dropdown">
                            <a class="action_dropwown" id="dropdownImage"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/assets/img/dots_Icon.svg" alt="Dropdown Trigger" />
                            </a>

                            <ul class="dropdown-menu shadow dropdown-menu-end border-0 rounded-0 p-0"
                                aria-labelledby="acp-action">
                                    <li><a class="dropdown-item" onclick="AddModifyDocuments(@tenancyId,@id)">Edit</a></li>
                                    <li><a class="dropdown-item" onclick="DeleteDocument(@id)">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>


<div class="modal fade" id="documentsDialog">
    <div class="modal-dialog modal-dialog-centered cm1_size" id="documentsDialogBody">
    </div>
</div>


<script>
    function AddModifyDocuments(tenancyId, documentId) {
        var url = `/Tenancy/AddModifyDocument?tenancyId=${tenancyId}&documentId=${documentId}`;
        $("#documentsDialogBody").load(url, function () {
            // This is done to add validation to partial view, as they don't support validationscript partial.
            $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js", function () {
                $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js", function () {
                });
            });
            $("#documentsDialogBody").css("width", "100%");
            $("#documentsDialog").modal("show");
        });
    }

    function DeleteDocument(documentId) {
        $.ajax({
            type: "POST",
            url: `/Tenancy/DeleteDocument?documentId=${documentId}`,
            success: function (result) {
                window.location.reload();
            },
            error: function () {
            }
        })
    }

</script>

