@model IEnumerable<CromWood.Business.Models.ViewModel.TenantViewModel>

@{
    ViewData["Title"] = "Tenants";
    Layout = "~/Views/Shared/_TenancyDetail.cshtml";

    var rawId = ViewContext.RouteData.Values["id"] as string;
    string tenancyId = "'" + Guid.Parse(rawId).ToString() + "'";

}

<div class="tab-pane fade show border border-top-0 active bg-white" id="tenants">
    <div class="card-header border-bottom-0 pt-3 pb-0 bg-white">
        <div class="row align-items-center">
            <div class="col-6">
                <h4 class="heading-style2 mb-0">Tenants</h4>
            </div>
            <div class="col-6">
                <div class="d-flex justify-content-end gap-3">
                    <div class="shadow-box">
                        <a class="custom__btn" onclick="AddNewExistingTenant(@tenancyId,'false')">
                            Add Existing Person
                        </a>
                    </div>
                    <div class="shadow-box">
                        <a class="custom__btn" onclick="AddNewExistingTenant(@tenancyId,'true')">
                            Add New Person
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        @foreach(var tenant in Model)
        {
            <div class="col-sm-4">
                <div class="tenant_t">
                    <div class="allison_p pb-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <span class="t_name">@tenant.FullName</span>
                                <span class="t_wigdes mx-2">Tenant</span>
                            </div>
                            <div class="dropdown">
                                <a href="#" class="action_dropwown" id="dropdownImage"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="~/assets/img/dots_Icon.svg" alt="Dropdown Trigger" />
                                </a>

                                <ul class="dropdown-menu shadow dropdown-menu-end border-0 rounded-0 p-0"
                                    aria-labelledby="acp-action">
                                    @{
                                        string tenancyTenantId = "'" + tenant +"'";
                                    }
                                    <li><a class="dropdown-item" onclick="DeleteTenancyTenant(@tenancyTenantId)">Unlink</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <table class="property_table">
                        <tbody class="key_table">
                            <tr>
                                <th class="key_heading" scope="row">Mobile</th>
                                <td class="k_data">@tenant.Phone</td>
                            </tr>
                            <tr class="bg-white">
                                <th class="key_heading" scope="row">Email</th>
                                <td class="k_data" colspan="2">@tenant.Email</td>
                            </tr>
                            <tr>
                                <th class="key_heading" scope="row">Guarantor</th>
                                <td class="k_data" colspan="2">--</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>


<div class="modal fade" id="tenantDialog">
    <div class="modal-dialog modal-dialog-centered" id="tenantDialogBody">
    </div>
</div>

<script>
    function AddNewExistingTenant(tenancyId, isNew) {
        var url = `/Tenancy/AddNewExistingTenant?tenancyId=${tenancyId}&isNew=${isNew}`;
        $("#tenantDialogBody").load(url, function () {
            // This is done to add validation to partial view, as they don't support validationscript partial.
            $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js", function () {
                $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js", function () {
                });
            });
            $("#tenantDialogBody").css("width", "100%");
            $("#tenantDialog").modal("show");
        });
    }

    function DeleteTenancyTenant(id) {
        $.ajax({
            type: "POST",
            url: `/Tenancy/DeleteTenancyTenant?tenancyTenantId=${id}`,
            success: function (result) {
                window.location.reload();
            },
            error: function () {
            }
        })
    }

</script>