table {
    font-family: var(--main-font);
    font-size: 14px;
    color: var(--black-text);
}

.datatable-pagination .datatable-active button {
    background-color: transparent !important;
    border: 1px solid var(--main-color);
    color: var(--main-color) !important;
    border-radius: 2px;
    font-family: var(--sora-font);
}

.datatable-pagination button:hover {
    background-color: var(--main-color);
    color: var(--bs-white);
    border-radius: 2px;
}

.datatable-pagination-list li {
    margin-right: 10px;
}

.datatable-dropdown {
    display: none;
}

.datatable-bottom {
    display: flex;
    justify-content: end;
    margin-top: 14px;
}

    .datatable-bottom .datatable-info {
        font-size: 14px;
        color: var(--black-text);
        font-family: var(--sora-font);
        margin-right: 18px;
    }

.datatable-sorter::before, .datatable-sorter::after {
    opacity: 1;
}

table thead tr th:not(:first-child) .datatable-sorter::before {
    border-top: 0px !important;
}

table thead tr th:not(:first-child) .datatable-sorter::after {
    border-bottom: 0px !important;
}

table thead tr th:first-child .datatable-sorter::before {
    /* position: absolute; */
    border-top: 0px !important;
    content: url(../assets/img/sort_after.svg);
    background-size: cover;
    right: 60px;
    top: 18%;
    background-repeat: no-repeat;
}

table thead tr th:first-child .datatable-sorter::after {
    border-bottom: 0px !important;
    /* position: absolute; */
    content: url(../assets/img/sort_before.svg);
    background-size: cover;
    right: 50px;
    top: -2px;
}

.ft_show table thead tr th .datatable-sorter::before {
    content: url(../assets/img/sort_after.svg);
    background-size: cover;
    right: 73%;
    top: 18%;
}

.ft_show table thead tr th .datatable-sorter::after {
    content: url(../assets/img/sort_before.svg);
    background-size: cover;
    right: 70%;
    top: -2px;
}

.no_fil .datatable-sorter::after,
.no_fil .datatable-sorter::before {
    content: none !important;
}

.btn-check:focus + .btn, .btn:focus, input[type=text]:focus, .form-control:focus, .form-select:focus, .btn-close:focus {
    outline: none;
    box-shadow: none;
}

input[type=text]:focus, .form-control:focus, .form-select:focus {
    border-color: #ced4da;
}

.modal-body input[type=text]:focus, .form-control:focus {
    border-color: var(--main-color);
}

.t_search input[type=text], .t_search #addon-wrapping {
    background-color: #F1F7F6;
}

.datatable-table > tbody > tr > td {
    vertical-align: middle;
    padding: 12px 8px;
}

.datatable-table > thead > tr > th {
    padding: 10px 5px;
}

.datatable-top {
    margin-bottom: 20px;
    padding-left: 0;
}

thead, tbody, tfoot, tr, td, th {
    border-bottom: 1px solid #dee2e6 !important;
}

input[type="checkbox"]:checked {
    -webkit-appearance: radio;
    box-shadow: none;
}

input[type='checkbox'] {
    accent-color: var(--main-color);
}

.user__list table thead tr th .datatable-sorter::before {
    content: none;
}

.user__list table thead tr th .datatable-sorter::after {
    content: none;
}

.custom__btn a {
    background: #F1F7F6;
    padding: 10px 20px;
    border-radius: 30px;
    font-family: var(--sora-font);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: var(--bran-color);
    transition: .3s ease-in-out;
    display: inline-block;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.10);
}

.custom__btn2 a {
    background: var(--secondary-color);
    padding: 10px 20px;
    border-radius: 30px;
    font-family: var(--sora-font);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    transition: .3s ease-in-out;
    display: inline-block;
    box-shadow: 0px 4px 0rem 0px rgba(0, 0, 0, 0.15);
}

.custom__btn3 a {
    background: var(--red-color);
    padding: 10px 20px;
    border-radius: 30px;
    font-family: var(--sora-font);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    transition: .3s ease-in-out;
    display: inline-block;
    box-shadow: 0px 4px 0rem 0px rgba(0, 0, 0, 0.15);
}

.custom__btn a:hover {
    box-shadow: -2px 8px 0rem 2px rgba(0, 0, 0, 0.15);
}

.custom__btn2 a:hover {
    box-shadow: -2px 8px 0rem 2px rgba(0, 0, 0, 0.15);
}

.custom__btn3 a:hover {
    box-shadow: -2px 8px 0rem 2px rgba(0, 0, 0, 0.15);
}

.pare__btn .custom__btn a {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: -4px;
}

.pare__btn .custom__btn2 a {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.ov__text {
    font-weight: 500;
}

.rounder__c {
    height: 96%;
}

.top___card h3, .custom_h {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--sora-font);
    color: var(--g-text-color);
}

#sidebarToggle svg path {
    color: #000;
}

.myc svg, .myc .sb-sidenav-collapse-arrow svg {
    color: #000;
}

#addon-wrapping svg {
    color: var(--main-color);
    width: 19px;
    height: 22px;
}

img.avtar_img {
    width: 40px;
}

span.avtar_name.main-font {
    font-weight: 500;
    color: var(--g-text);
}

span.money__t {
    font-size: 12px;
    color: var(--g-text);
}

.p_invoic {
    margin-top: -20px;
}

.noti__f a.dropdown-toggle {
    text-decoration: none;
    cursor: pointer;
}

.noti__f .dropdown-toggle::after {
    content: none;
}

.noti__f .dropdown-toggle img {
    font-size: 30px;
    width: 25px;
    margin-bottom: -6px;
}

span.notic__num {
    position: absolute;
    top: -12px;
    right: -20px;
    background: #FF0031;
    color: #fff;
    font-weight: 600;
    padding: 1px 8px;
    font-size: 11px;
    border-radius: 20px;
    font-family: 'Inter';
}

.noti__f ul.dropdown-menu {
    max-width: 410px;
    width: 410px;
    padding: 22px;
    padding-top: 22px;
    left: -13rem !important;
}

.noti__f h4, .mark__btn a {
    font-size: 15px;
    font-weight: 700;
    font-family: var(--main-font);
    color: var(--main-color);
    text-decoration: none;
}

.noti__f p {
    padding-left: 16px;
    border-left: 2px solid #DDDEE1;
    margin-left: 16px;
}

.noti__f .dropdown-divider {
    background-color: #E4E8EE;
    margin-top: 16px;
    margin-bottom: 18px;
}

.tenancies_tt .datatable-top, .role_perm .datatable-top {
    display: none;
}

.c__bages {
    border-color: #C35AF0 !important;
}

.rc__box h5 {
    font-family: var(--main-font);
    font-size: 14px;
}

.rc__box + .dropdown-divider {
    border-color: #a5acb7;
    margin-top: 0;
}

.acti_vites {
    border-radius: 20px;
    padding: 4px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: var(--g-text-color);
}

.ongoing {
    border: 1px solid #41BD00;
}

.past {
    border: 1px solid #6F6F6F;
}

.rent {
    border: 1px solid #FF0031;
}

.tenancies_tt .datatable-wrapper {
    margin: 10px;
    margin-top: 0px;
    border: 1px solid #dee2e6 !important;
    border-radius: 5px;
}

.user__list .datatable-top .datatable-dropdown {
    float: right;
}

.user__list .datatable-top .datatable-search {
    float: left;
}

    .user__list .datatable-top .datatable-search .datatable-input {
        max-width: 450px;
        width: 450px;
        outline: none;
    }

.user___tabs .nav-link {
    font-size: 15px;
    font-weight: 600;
    font-family: var(--main-font);
    color: var( --g-text-color);
}

    .user___tabs .nav-link.active {
        color: var( --main-color);
        font-weight: 700;
    }

#remove_user p {
    color: var(--gray-text);
}

.user__list a.u_n, .role_perm a.u_n {
    text-decoration: none;
}

    a.u_n:hover, .user__list a.u_n:hover, .role_perm a.u_n:hover {
        transition: .3s ease-in-out;
        text-decoration: underline;
        color: var(--main-color);
        font-weight: 600;
        box-sizing: border-box;
    }

Table#add_prTable tr th, Table#add_prTable tr td {
    padding: 12px;
}

#nav-user-list .datatable-search, .as__menag .datatable-search {
    /* position: absolute; */
    border: 1px solid #BBC0C9;
    padding: 4px;
    border-radius: 5px;
}

    #nav-user-list .datatable-search .datatable-input, .as__menag .datatable-search .datatable-input {
        border: none;
    }

    #nav-user-list .datatable-search::before, .as__menag .datatable-search::before {
        content: url('../assets/img/search-gray.svg');
        position: relative;
        vertical-align: bottom;
        top: -2px;
        left: 5px;
    }

.filter_btn {
    position: relative;
    top: 36px;
}

    .filter_btn > a {
        padding: 12px 20px;
        border-radius: 8px;
        border: 2px solid var(--light-green);
        color: var(--main-color);
        font-family: var(--sora-font);
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;
        letter-spacing: 1px;
    }

    .filter_btn .filter___c {
        max-width: 330px;
        width: 330px;
    }




















/* ------ Responsive style start here --------- */

@media only screen and (min-width:576px) {
    .modal-dialog {
        max-width: 560px;
        width: 100%;
    }

    #new_role .modal-dialog, #edit_role .modal-dialog {
        max-width: 950px;
        width: 100%;
    }
}
