.nav a.nav-link:not(.active) .active_nav_icon {
    display: none;
}

/*Styles by Ananta starts here*/
a {
    cursor: pointer !important;
}

.h-40 {
    height: 40px !important;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.border-left-none {
    border-top-left-radius: 0px !important;
}

.tab-content > .tab-pane {
    min-height: 440px;
    border-radius: 4px;
    border-color: #D1D5DB !important;
    margin-bottom: 20px;
}

.shadow-box {
    display: flex;
    width: auto;
    border-radius: 999px;
    box-shadow: 0px 4px 20px 0px #0000001A;
}

.datatable-search input::placeholder {
    color: #9CA6AF;
}

.select-all-label {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    line-height: 140%;
    margin-top: 2px !important;
    position: absolute;
    padding-left: 7px;
    font-weight: 400;
    color: #2F2E35;
}

.dropdown-menu-button {
    display: flex;
    align-items: center;
    gap: 6px;
}

.user-profile-pic {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
}

img.avtar_img {
    object-fit: cover;
}

/*Styles by Ananta ends here*/
.table_bottom_border .datatable-bottom {
    border: 1px solid #dee2e6 !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top: none !important;
}

.nav a.nav-link.active .main_nav_icon {
    display: none;
}

.sb-sidenav-menu .nav {
    margin-left: 8px;
}

.site_idintity {
    border-bottom: 1px solid #ECEDF3;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 1.5rem;
    height: 60px;
}

body.sb-sidenav-toggled .site_idintity {
    padding-left: .5rem;
}

body.sb-sidenav-toggled .nav-link {
    padding: 0.6rem 0.6rem;
}

body.sb-sidenav-toggled .colored_leaf {
    display: block;
    height: 41px;
}

.colored_leaf {
    display: none;
}

body.sb-sidenav-toggled .main__logo {
    display: none;
}

body.sb-sidenav-toggled .outer_toggle {
    display: block;
}

body.sb-sidenav-toggled .inner_toggle {
    display: none;
}

body.sb-sidenav-toggled .nav__text,
body.sb-sidenav-toggled a.nav-link.myc .sb-sidenav-collapse-arrow {
    display: none !important;
}

.sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
    width: 56px;
}

.outer_toggle {
    display: none;
}

button#sidebarToggle {
    position: absolute;
    right: -11px;
    top: 5px;
    overflow: hidden;
}

body.sb-sidenav-toggled button#sidebarToggle {
    right: -29.5px;
}

.searhbar_text span {
    color: #8D97A5;
    font-family: var(--sora-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.t_search input {
    height: 40px;
}

.t_search .input-group {
    max-width: 606px;
    width: 100%;
    margin-left: auto;
}

.t_search .input-group-text {
    border-radius: 2px;
}

.t_search .input-group-text, .t_search input[type=text] {
    border: 1px solid #E8EAED;
}

    .t_search input[type=text]:focus {
        border-color: #E8EAED !important;
    }

.t_search .cornerdown_icon {
    display: none;
}

.t_search.input_on .cornerdown_icon {
    display: block;
}

.t_search.input_on .forword_icon {
    display: none;
}

.btn-close {
    opacity: 1 !important;
}

table {
    font-family: var(--main-font);
    font-size: 12px;
    color: var(--black-text);
}

.sm_select_text {
    font-size: 12px;
}

.sm__row_table .datatable-table tbody tr td {
    padding: 7px 10px;
    min-height: 50px;
    height: 50px;
    vertical-align: middle;
}

.sm48__row_table .datatable-table tbody tr td {
    padding: 12px 12px;
    height: 48px;
    min-height: 48px;
    vertical-align: middle;
}

.maintable_head {
    font-size: 14px;
    font-weight: 700;
}

.ser_lpading .datatable-search {
    margin-left: 18px;
}

.datatable-table thead tr {
    height: 48px;
}

    .datatable-table thead tr th {
        background-color: #F5FAFC;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
    }

.tenancies_tt tbody tr {
    min-height: 74px;
    height: 74px;
}

table tbody tr:nth-child(even) {
    background-color: var(--table-row-bg);
}

.recent__c .rc__box:nth-child(even) {
    background-color: var(--table-row-bg) !important;
}

table tbody tr:nth-child(odd) {
    background-color: #fff;
}

.datatable-pagination .datatable-active button {
    background-color: transparent !important;
    border: 1px solid var(--main-color);
    color: var(--main-color) !important;
    border-radius: 2px;
    font-family: var(--sora-font);
}

.datatable-pagination button:hover {
    background-color: var(--main-color);
    color: var(--bs-white);
    border-radius: 2px;
}

.datatable-pagination-list li {
    margin-right: 10px;
}

.datatable-dropdown {
    display: none;
}

.datatable-bottom {
    display: flex;
    justify-content: end;
    padding-top: 14px;
    border-radius: 4px;
    border-top: 0px !important;
    background-color: #fff;
}

    .datatable-bottom .datatable-info {
        font-size: 14px;
        color: var(--black-text);
        font-family: var(--sora-font);
        margin-right: 18px;
    }

.datatable-table th button {
    font-size: 14px;
    color: var(--black-text);
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.datatable-sorter::before,
.datatable-sorter::after {
    opacity: 1 !important;
}

/* hide before sorting as show   arrow icon of table */
.datatable-table .datatable-sorter::before {
    display: none;
}
/* ----------------- */
.datatable-table .datatable-sorter::after {
    content: url(../assets/img/sort_before.svg);
    border: none !important;
    position: relative;
    left: 3px;
    top: 1.2px;
}

/* Added custom sorting icon in table */
table thead tr th .datatable-sorter .c__icon::after {
    content: url(../assets/img/sort_after.svg);
    position: relative;
    top: 2px;
    left: 4px;
}
/* ----------------- */

/* hide sorting icon on top of header */
.hide_sort_all .datatable-table .datatable-sorter::after,
.hide_sort_all table thead tr th .datatable-sorter .c__icon::after {
    display: none !important;
}
/* ----------------- */

/* Show 1 sorting icon on top of header */
.show_sort_1 .datatable-table th:not(:first-child) .datatable-sorter::after,
.show_sort_1 table thead tr th:not(:first-child) .datatable-sorter .c__icon::after {
    display: none !important;
}
/* ----------------- */

/* hidi on last sorting icon on top of header */
.hide_sort_last .datatable-table th:last-child .datatable-sorter::after,
.hide_sort_last table thead tr th:last-child .datatable-sorter .c__icon::after {
    display: none !important;
}

/* ----------------- */

.btn-check:focus + .btn,
.btn:focus, input[type=text]:focus,
.form-control:focus, .form-select:focus,
.btn-close:focus, .form-check-input:focus {
    outline: none;
    box-shadow: none;
}

input[type=text]:focus, .form-control:focus, .form-select:focus {
    border-color: #ced4da;
}

.modal-body input[type=text]:focus, .form-control:focus {
    border-color: var(--main-color);
}

.datatable-table > tbody > tr > td {
    /* vertical-align: middle; */
    padding: 12px 8px;
}

.datatable-table > thead > tr > th {
    padding: 10px 5px;
}

.datatable-top {
    justify-content: space-between;
    padding: 3px 0px 10px !important;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: 100%;
}

.datatable-search {
    border: 1px solid #BBC0C9;
    padding: 1px 4px;
    border-radius: 4px;
    height: 40px !important;
    display: flex;
    align-items: center;
    background-color: #fff;
}

thead, tbody, tfoot, tr:not(:last-child), td, th {
    border-bottom: 1px solid #dee2e6 !important;
}

tbody {
    border-bottom: 0px !important;
}

input[type="checkbox"]:checked {
    -webkit-appearance: radio;
    box-shadow: none;
}

input[type='checkbox'] {
    accent-color: var(--main-color);
}

.bth_shadow {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}

.custom__btn a {
    background: #F1F7F6;
    line-height: 140%;
    padding: 10px 20px;
    border-radius: 30px;
    font-family: var(--sora-font);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: var(--bran-color);
    transition: .3s ease-in-out;
    display: inline-block;
    box-shadow: 0px 4px 0px 0px #D1D5DB;
}

a.custom__btn, input.custom__btn {
    background: #F1F7F6;
    border: none;
    line-height: 140%;
    padding: 10px 20px;
    border-radius: 30px;
    font-family: var(--sora-font);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: var(--bran-color);
    transition: .3s ease-in-out;
    display: inline-block;
    box-shadow: 0px 4px 0px 0px #D1D5DB;
}

.custom__btn2 a {
    background: var(--secondary-color);
    line-height: 140%;
    padding: 10px 20px;
    border-radius: 30px;
    font-family: var(--sora-font) !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: white !important;
    transition: .3s ease-in-out;
    display: inline-block;
    box-shadow: 0px 4px 0rem 0px #4D6D00;
}

a.custom__btn2, input.custom__btn2 {
    background: var(--secondary-color);
    border: none;
    line-height: 140%;
    padding: 10px 20px;
    border-radius: 30px;
    font-family: var(--sora-font) !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: white !important;
    transition: .3s ease-in-out;
    display: inline-block;
    box-shadow: 0px 4px 0rem 0px #4D6D00;
}

.custom__btn3 a {
    background: var(--red-color);
    line-height: 140%;
    padding: 10px 20px;
    border-radius: 30px;
    font-family: var(--sora-font) !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: white !important;
    transition: .3s ease-in-out;
    display: inline-block;
    box-shadow: 0px 4px 0rem 0px #AC0223;
}

a.custom__btn3, input.custom__btn3 {
    background: var(--red-color);
    border: none;
    line-height: 140%;
    padding: 10px 20px;
    border-radius: 30px;
    font-family: var(--sora-font) !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: white !important;
    transition: .3s ease-in-out;
    display: inline-block;
    box-shadow: 0px 4px 0rem 0px #AC0223;
}

.custom__btn a:hover {
    box-shadow: 0px 4px 0rem 2px #D1D5DB;
}

a.custom__btn:hover, input.custom__btn:hover {
    box-shadow: 0px 4px 0rem 2px #D1D5DB;
}

.custom__btn2 a:hover {
    box-shadow: 0px 4px 0rem 2px #4D6D00;
}

a.custom__btn2:hover, input.custom__btn2:hover {
    box-shadow: 0px 4px 0rem 2px #4D6D00;
}

.custom__btn3 a:hover {
    box-shadow: 0px 4px 0rem 2px #AC0223;
}

a.custom__btn3:hover, input.custom__btn3:hover {
    box-shadow: 0px 4px 0rem 2px #AC0223;
}

.pare__btn .custom__btn a {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: -4px;
}

.pare__btn a.custom__btn, .pare__btn input.custom__btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: -4px;
}

.pare__btn .custom__btn2 a {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.pare__btn a.custom__btn2, .pare__btn input.custom__btn2 {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.topcard__text {
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    color: var(--gray-text);
}

.rounder__c {
    height: 96%;
}

.top___card h3, .custom_h {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--sora-font);
    color: var(--g-text-color);
}

#sidebarToggle svg path {
    color: #000;
}

.myc svg, .myc .sb-sidenav-collapse-arrow svg {
    color: #000;
}

img.avtar_img {
    width: 40px;
}

span.avtar_name.main-font {
    font-weight: 500;
    color: var(--g-text-color);
    font-size: 16px;
}

span.money__t {
    font-size: 12px;
    color: var(--gray-text);
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.p_invoic {
    margin-top: -22px;
}

.ivn {
    width: 46px;
}

.noti__f a.dropdown-toggle {
    text-decoration: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noti__f .dropdown-toggle::after {
    content: none;
}

.noti__f .dropdown-toggle img {
    font-size: 30px;
    width: 23px;
}

.noti__f {
    margin-right: 31px;
}

span.notic__num {
    position: absolute;
    top: -4px;
    right: -1px;
    background: #FF0031;
    color: #fff;
    font-weight: 600;
    padding: 0px 5px;
    font-size: 8px;
    border-radius: 20px;
    font-family: var(--main-font);
}

.noti__f .noti_content {
    max-width: 428px;
    width: 428px;
    padding: 16px;
    padding-top: 22px;
    left: -11rem !important;
    top: 28px;
}

    .noti__f .noti_content ul {
        list-style: none;
        padding-left: 0;
    }

.noti__f h4, .mark__btn a {
    font-size: 14px;
    font-family: var(--main-font);
    color: var(--main-color);
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.noti__f p {
    padding-left: 10px;
    border-left: 2px solid #DDDEE1;
    margin-left: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    color: #333;
    margin-bottom: 8px;
}

.date__qqq span {
    color: #828282;
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-left: 8px;
}

.noti__f .dropdown-divider {
    background-color: #E4E8EE;
    margin-top: 16px;
    margin-bottom: 18px;
}

.noti__f ul li {
    border-bottom: 1px solid #E4E8EE;
    padding: 16px;
    margin-bottom: 8px;
}

    .noti__f ul li.active {
        background-color: #F1F7F6;
    }

.no_top_search .datatable-top {
    display: none;
}

.c__bages {
    border-color: #C35AF0 !important;
}

.rc__box h5 {
    font-family: var(--main-font);
    font-size: 14px;
}

.acti_vites {
    border-radius: 50px;
    padding: 4px;
    max-width: 104px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: var(--g-text-color);
    font-family: var(--main-font);
}

.ongoing {
    border: 1px solid #41BD00;
}

.past {
    border: 1px solid #6F6F6F;
}

.rent {
    border: 1px solid #FF0031;
}

.tenancies_tt .datatable-wrapper {
    margin: 10px;
    margin-top: 0px;
    border: 1px solid #dee2e6 !important;
    border-radius: 5px;
}

.user__list .datatable-top .datatable-search .datatable-input {
    max-width: 450px;
    width: 450px;
    outline: none;
}

.user___tabs .nav-link {
    font-size: 15px;
    font-family: var(--main-font);
    color: var( --g-text-color);
}

    .user___tabs .nav-link.active {
        color: var( --main-color);
        font-weight: 700;
    }

#remove_user p {
    color: var(--gray-text);
}

.user__list a.u_n, .role_perm a.u_n {
    text-decoration: none;
}

    a.u_n:hover, .user__list a.u_n:hover, .role_perm a.u_n:hover {
        transition: .3s ease-in-out;
        text-decoration: underline;
        color: var(--main-color);
        font-weight: 600;
        box-sizing: border-box;
    }

Table#add_prTable tr th {
    height: 48px;
    background: #F5FAFC;
}

Table#add_prTable tr th, Table#add_prTable tr td {
    padding: 15px;
}

#nav-user-list .datatable-search .datatable-input, .as__menag .datatable-search .datatable-input {
    border: none;
}

#nav-user-list .datatable-search::before, .as__menag .datatable-search::before {
    content: url('../assets/img/search-gray.svg');
    position: relative;
    vertical-align: bottom;
    top: 2px;
    left: 5px;
}
/* .filter_btn {
    position: relative;
    top: 29px;
    max-width: 500px;
    margin-left: auto;
    left: 17px;
} */
.filter_btn > a {
    background: #F1F7F6;
    line-height: 140%;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid var(--light-green);
    color: var(--main-color);
    font-family: var(--sora-font);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
}

.filter_btn .filter___c {
    max-width: 330px;
    width: 330px;
}

.ft__list li {
    border-bottom: 1px solid #E4E8EE;
    padding-bottom: 6px;
}

    .ft__list li a {
        font-size: 14px;
        font-family: var(--main-font);
        font-weight: 400;
        color: var(--g-text-color);
    }

        .ft__list li a:hover {
            transition: .3s ease-in-out;
            background-color: var(--secondary-color);
            color: var(--bs-body-bg);
        }

.filter___c input[type=text] {
    font-size: 14px;
    color: #9CA6AF;
}


/* --------------  Steps form style start here ------------------ */
.step__f .step {
    text-align: center;
    width: 100%;
    position: relative;
}

    .step__f .step .bullet {
        height: 25px;
        width: 25px;
        border: 1px solid #BBC0C9;
        color: #BBC0C9;
        display: inline-block;
        border-radius: 50%;
        position: relative;
        transition: 0.2s;
        font-weight: 500;
        font-size: 14px;
        line-height: 25px;
        font-family: var(--main-font);
        margin-bottom: 3px;
    }

    .step__f .step:not(:last-child) .bullet:after {
        position: absolute;
        content: '';
        bottom: 11px;
        right: -205px;
        height: 1px;
        width: 205px;
        background: #BBC0C9;
    }

    .step__f .step .bullet > span {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .step__f .step p {
        font-size: 14px;
        font-family: var(--main-font);
        font-weight: 400;
        color: #8D97A5;
    }

    .step__f .step.active .bullet {
        border: 1px solid var(--secondary-color);
        background-color: var(--secondary-color);
        color: #fff;
    }

    .step__f .step.active p {
        color: var(--secondary-color);
        font-weight: 500;
    }

.s_tick {
    display: none;
}

/* .step__f .step.pass:not(.step.active.pass, .step.pass.step.active.pass) .bullet .s_n{
    display: none;
}
.step__f .step.pass:not(.step.active.pass, .step.pass.step.active.pass) .bullet .s_tick{
    display: block;
} */

.form___info fieldset {
    display: none;
}

    .form___info fieldset.active {
        display: block;
    }

.step_model .modal-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 56;
}

.popup_footer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 56;
}

.step_model .modal-content {
    background-color: var(--table-row-bg) !important;
}

.mutli_steps_f h5 {
    font-family: var(--sora-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: var(--g-text-color);
}

.mutli_steps_f label.form-label {
    font-family: var(--main-font);
    font-size: 14px;
    color: var(--gray-text);
    font-style: normal;
    font-weight: 500;
    margin-bottom: 5px;
}

.mutli_steps_f .form-check-label {
    font-size: 14px;
    font-weight: 500;
    color: #8d8d8d;
}

.mutli_steps_f .form-check-input {
    height: 15px;
    width: 15px;
    border: 1.5px solid #8d8d8d;
}

.label_sm-text {
    color: #A4ABB7 !important;
}

.mutli_steps_f input, .mutli_steps_f select, .f_value {
    font-family: var(--main-font);
    color: var(--g-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.basic_f_content .row {
    border-bottom: 1px dashed #E8EAED;
    height: 38px;
}
/* --------------  Steps form style End here ------------------ */


/* ------------------Property Management  CSS Start Here ------------------*/

span.owner_clr {
    font-weight: 400;
    color: #768293;
    font-size: 12px;
}

span.pm_date {
    color: #000;
}

span.occ {
    color: #EB5757;
}

span.atl {
    color: #4d6d00;
}

span.occ:hover {
    text-decoration: underline;
}

span.atl:hover {
    text-decoration: underline;
}

/* ---------------Property Management  CSS end Here -------------------*/


/* ------------------License & Certifications CSS Start Here ------------------*/

span.fra {
    color: #000;
    font-size: 12px;
    font-weight: 400;
}

span.exp {
    border: 1px solid red;
    border-radius: 56px;
    background: #FF00310D;
    font-size: 10px;
    font-weight: 700;
    padding: 3px 6px;
}

h2.t_t {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Sora';
    color: #2F80ED;
}

h2.etm {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Sora';
    color: #ff9255;
}

h2.expd {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Sora';
    color: #FF0031;
}

.col-xl-2 {
    margin-top: -17px;
}

input.alc_date {
    padding: 4px 96px;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    color: #768293;
    outline-color: #8DB300;
    outline-style: 1px solid;
}

h4.lc_label {
    font-size: 14px;
    font-weight: 500;
    color: #5F6D81;
    outline-color: #8DB300;
    outline-style: 1px solid;
}

a.cf_btn {
    padding: 11px 25px;
    border-radius: 28px;
    border: 2px solid #8DB300;
    text-decoration: none;
    color: #4D6D00;
    font-size: 14px;
    font-family: 'Sora';
    font-weight: 600;
    background: #F1F7F6;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    background-color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    resize: none;
    outline-color: #8DB300;
    outline-style: 1px solid;
}

.input-container {
    width: 100%;
    margin-top: -5px;
}

input[type="date"] {
    width: 100%;
    padding: 8px 8px;
    box-sizing: border-box;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    font-size: 14px;
    color: #768293;
    outline: none;
}

.calendar-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

/* ------------------License & Certifications CSS End Here ------------------*/


/* / Asset datail page css start here / */

.no_searchontable .datatable-top {
    display: none;
}

tbody.asset_table th {
    width: 300px;
    padding-left: 0;
}

th.r_heading {
    color: var(--gray-text);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

tbody.asset_table td {
    color: var(--g-text-color);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

tbody.asset_table tr {
    border-bottom: 2px dotted #E8EAED !important;
}

span.a_m {
    font-size: 14px;
    font-weight: 400;
    color: #4D6D00;
}

.cre.ms-3 {
    color: var(--Greyscale-Grey-9, #5F6D81);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

li.breadcrumb-item.active {
    font-size: 14px;
    font-weight: 400;
    color: var(--g-text-color);
}

a.v_c {
    font-size: 10px;
    font-family: 'Sora';
    font-weight: 600;
    color: #6D9000;
    text-transform: uppercase;
    padding-left: 5px;
    letter-spacing: 1px;
}

.cre {
    color: var(--Greyscale-Grey-9, #5F6D81);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}

.aseet_m_d .cre {
    margin-left: 5px !important;
    margin-top: -4px;
}

.aseet_m_d .custom__btn {
    margin-top: 6px;
}

/* / Asset datail page css end here / */

/* / Propert Detail Page Css Start Here / */
td.earn_p_month {
    color: var(--Greyscale-Dark, #000) !important;
    font-family: Inter;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.table_upcaseheading {
    color: var(--Greyscale-Grey-7, #8D97A5);
    font-family: Sora;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.key_main {
    border: 1px solid #D1D5DB;
    width: 380px;
    border-radius: 5px;
    padding: 16px 17px;
    margin: 10px 13px;
}

.key_t h6 {
    color: var(--Brand-Brand-3, #4D6D00);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.key_main p {
    color: var(--Greyscale-Grey-9, #5F6D81);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding: 4px 0px 0px 5px;
}

img.dots_icon {
    padding-left: 224px;
    margin-top: -22px;
}

.key_t {
    display: flex;
}

th.key_heading {
    color: var(--Greyscale-Grey-8, #768293);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    padding: 6px 0px;
    border-bottom: 1px solid white !important;
}

td.k_data {
    color: var(--Greyscale-Dark, #000);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding-left: 30px;
    border-bottom: 1px solid white !important;
}

.active_btn {
    padding: 5px 0px;
    text-align: center;
    color: var(--Greyscale-Dark, #2F2E35);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    border-radius: 50px;
    border: 1px solid #41BD00;
    background: rgba(65, 189, 0, 0.05);
    width: 100px;
}

.Completed_btn {
    color: var(--Greyscale-Dark, #2F2E35);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    border-radius: 50px;
    border: 1px solid #6F6F6F;
    background: rgba(111, 111, 111, 0.05);
    padding: 4px 0px;
    width: 103px;
}

.terminated_btn {
    border: 1px solid #FF0031;
    background: rgba(255, 0, 49, 0.05);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    border-radius: 50px;
    padding: 4px 0px;
    width: 103px;
    color: var(--Greyscale-Dark, #2F2E35);
}

.Upd_btn {
    color: var(--Brand-Brand-3, #4D6D00);
    font-family: Sora;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    padding: 5px 16px;
    border-radius: 30px;
    text-decoration: none;
}

    .Upd_btn:hover {
        text-decoration: underline;
        background: #f2f2f2;
    }
/* / Propert Detail Page Css End Here / */

/*   --------------------- Role permisssion popup style start here ---------------- */
.rp_popup .form-check input {
    height: 15px;
    width: 15px;
    border: 1.5px solid #8d8d8d;
}

.rp_popup label {
    color: var(--Greyscale-Grey-9, #5F6D81);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-top: -3px;
}

.rp_popup span {
    color: var(--Greyscale-Grey-9, #5F6D81);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.rp_popup form-check label {
    color: var(--Greyscale-Dark, #2F2E35);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.rp_popup th {
    color: var(--Greyscale-Dark, #000);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.rp_popup td {
    color: var(--Greyscale-Dark, #000);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.rp_popup .form-control {
    color: var(--Greyscale-Grey-8, #768293);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding: 10px;
}

.rp_popup .form-control_2 {
    color: var(--Greyscale-Dark, #2F2E35);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding: 10px;
}

/* ------------------ another popups style ------------- */
p.r_m_s {
    color: var(--Greyscale-Grey-10, #48586F);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.i_n_m h5 {
    color: var(--Greyscale-Dark, #2F2E35);
    font-family: Sora;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: capitalize;
}

.i_n_m label {
    color: var(--Greyscale-Grey-9, #5F6D81);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.i_n_m .form-control {
    color: var(--Greyscale-Grey-8, #768293);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.i_n_m .form-select {
    color: var(--Greyscale-Grey-8, #768293);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

/* ------------------ another popups style end here ------------- */

/*   --------------------- Role permisssion popup style start here ---------------- */

/*------------------- User List css Start Here-----------------*/

.user_l_m .heading-style2 {
    margin-top: -4px;
}

.user_l_m input {
    color: #9CA6AF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    vertical-align: text-bottom;
}

.text-danger {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    vertical-align: middle;
}

/*------------------- User List css End Here-----------------*/

/*------------------- Asset Managment css Start Here-----------------*/
.asset_main input {
    color: #9CA6AF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    vertical-align: text-bottom;
}

.asset_main.filter_btn {
    position: relative;
    top: 19px;
    max-width: 500px;
    left: -1px;
}
/*------------------- Asset Managment Css End Here-----------------*/


/*-------------------Tenancy Management Css Start Here-----------------*/

.past_btn {
    color: var(--Greyscale-Dark, #2F2E35);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    display: flex;
    width: 104px;
    padding: 4px 8px;
    justify-content: center;
    gap: 4px;
    border-radius: 50px;
    border: 1px solid #6F6F6F;
    background: rgba(111, 111, 111, 0.05);
}

.ongoing_btn {
    display: flex;
    width: 104px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 50px;
    border: 1px solid #41BD00;
    background: rgba(65, 189, 0, 0.05);
    color: var(--Greyscale-Dark, #2F2E35);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.alert_btn {
    display: flex;
    width: 110px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: var(--Greyscale-Dark, #2F2E35);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    border-radius: 50px;
    border: 1px solid #FF0031;
    background: rgba(255, 0, 49, 0.05);
}

span.pm_date {
    color: var(--Greyscale-Dark, #000);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.enancies_dates span {
    color: var(--Greyscale-Dark, #000);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.description a {
    color: var(--Brand-Brand-3, #4D6D00);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-decoration: none;
}

    .description a:hover {
        text-decoration: underline;
    }

    .description a:last-child {
        padding-bottom: 12px !important;
        display: inline-block;
    }

.t_num:hover {
    text-decoration: underline;
}

/*-------------------Tenancy Management Css End Here-----------------*/

/*-------------------Tenancy Management Detail-Page Css Start Here-----------------*/

.alert_btn_tm {
    color: var(--Greyscale-Dark, #2F2E35);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    border-radius: 50px;
    border: 1px solid #FF0031;
    background: rgba(255, 0, 49, 0.05);
    display: inline-flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 27px;
}

span.t_d_g {
    color: var(--Brand-Brand-3, #4D6D00);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.tenant_t {
    border: 1px solid #D1D5DB;
    width: 380px;
    border-radius: 5px;
    padding: 16px 17px;
    margin: 10px 13px;
}

.allison_p h6 {
    color: var(--Brand-Brand-3, #4D6D00);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.dots_icon_t {
    padding-left: 336px;
    margin-top: -57px;
}

.t_name {
    color: var(--Brand-Brand-3, #4D6D00);
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.t_wigdes {
    color: var(--g-text-color);
    font-family: var(--main-font);
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    border-radius: 50px;
    border: 1px solid #41BD00;
    background: rgba(65, 189, 0, 0.05);
    display: inline-flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 23px !important;
}

span.t_wigdes_2.mx-2 {
    color: var(--Greyscale-Dark, #2F2E35);
    font-family: var(--main-font);
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    border-radius: 50px;
    border: 1px solid #C35AF0;
    background: rgba(195, 90, 240, 0.05);
    display: inline-flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.notes_t {
    border: 1px solid #D1D5DB;
    width: 100%;
    padding: 16px 17px;
    margin: 10px 13px;
}

.notes_no {
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.note_na {
    color: var(--gray-text);
    font-family: var(--main-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.notes_content p {
    color: var(--black-text);
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    padding: 12px 0;
}

.notes_content span {
    color: var(--gray-text);
    font-family: var(--main-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
/*-------------------Tenancy Management Detail-Page Css End Here-----------------*/
