/* ----------------------------- Responsive style start here -------------------------- */
.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before{
    display: none;
}
/* -------- Max 576px ----- */
@media only screen and (max-width:576px) {

    /* Mobile Repo for Navbar start here  */
    .sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
        background-color: var(--element-bg)!important;
        width: 100%;
        height: 78px;
    }
    .site___logo {
        display: none;
    }
    .sb-sidenav .sb-sidenav-menu .nav{
        flex-direction: row;
    }
    .sb-nav-fixed #layoutSidenav #layoutSidenav_nav{
        top: unset;
        bottom: 0;
    }
    .sb-sidenav{
        flex-direction: row;
        align-items: center;
    }
    .sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
        padding-top: unset;
        padding-bottom:unset;
    }

    /* Mobile Repo for Navbar start here  */
}  /* -------- End Max 576px ----- */



 /* -------- Max 1550px ----- */
@media only screen and (max-width:1550px){
    .top___card h3, .custom_h{
        font-size: 20px;
    }
}



@media only screen and (min-width:576px){
  
    /* -------- Custom mode size 1 ----- */
    .cm1_size{
        max-width: 560px;
        width: 100%;
    }
    .cm1_size .modal-content{
        min-height: 450px;
    }
    /* -------- Custom mode size 1 end here  ----- */

       /* -------- Custom mode size 2 ----- */
    .cm380_size{
        max-width: 560px;
        width: 100%;
    }
    .cm380_size .modal-content{
        min-height: 380px;
    }
    /* -------- Custom mode size 2 end here  ----- */

    /* -------- Custom mode size 2 ----- */
    .cm430_size{
        max-width: 560px;
        width: 100%;
    }
    .cm430_size .modal-content{
        min-height: 380px;
    }
    /* -------- Custom mode size 2 end here  ----- */

    /* -------- Custom mode height 1 ----- */
    .model_height .modal-content{
        min-height: 650px!important;
        height: 650px;
        overflow-y: auto;
    }
    .model_height .modal-content::-webkit-scrollbar {
        display: none;
    }
    /* -------- Custom mode height 1 end here  ----- */
    
   /* -------- Custom mode size 2 ----- */
    .cm2_size{
        max-width: 950px;
        width: 100%;
    }
    .add_edit_popup .modal-content{
        height: 100%!important;
        overflow-y: none;
    }
    .cm2_size .modal-content{
        min-height: 650px!important;
        height: 650px;
        /* overflow-y: auto; */
    }
    .cm2_size .modal-content::-webkit-scrollbar {
        display: none;
    }
    /* -------- Custom mode size 2 end here ----- */
}

/* --------------------------------------------- Responsive style start here ----------------------------------------- */