@using CromWood.Business.Services.Interface;
@using CromWood.Data.Entities.Default;
@model CromWood.Business.Models.NoticeModel
@inject ILookupService<Concern> _concernLookup;
@inject ILookupService<Section> _sectionLookup;
@inject ITenantService _tenantService;

@{
    var asyncConcern = await _concernLookup.GetAllItems();
    var concerns = new SelectList(asyncConcern.Data, "Id", "Name");

    var asyncSection = await _sectionLookup.GetAllItems();
    var sections = new SelectList(asyncSection.Data, "Id", "Name");

    var asyncTenants = await _tenantService.GetTenantForList();
    var tenants = new SelectList(asyncTenants.Data, "Id", "FullName");

    var popupTitle = Model == null || Model.Id == Guid.Empty ? "Create Notice" : "Edit Notice Details";
}
<div class="modal-content rounded-0 model-custom-bg">
    <div class="modal-header py-2 bg-white">
        <h5 class="modal-title" id="staticBackdropLabel">Create Notice</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form asp-action="AddModifyNotice" class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x=>x.Id)
        @Html.HiddenFor(x=>x.Archived)
        <div class="step_body_content3 mb-3 pe-2">
        <div class="mb-3 border p-3 bg-white">
            <div class="d-flex gap-3">
                <div class="input__field w-100">
                    <label for="Rent Frequency" class="form-label">Concern</label>
                    <select id="concern-id" class="form-select select_font_14" asp-for="ConcernId" asp-items="concerns">
                    </select>
                </div>
                <div class="input__field w-100">
                    <label for="Rent Frequency" class="form-label">Tenant Name</label>
                    <select id="tenants" class="form-select select_font_14" asp-for="TenantId" asp-items="tenants"
                           placeholder="Tenant Name"></select>
                </div>
            </div>
            <div class="d-flex gap-3 mt-3">
                <div class="input__field w-100">
                    <label for="Rent Frequency" class="form-label">AST/License</label>
                    <select id="ast-license" class="form-select select_font_14" asp-for="ASTLicense">
                        <option value="AST" selected>AST</option>
                        <option value="License">License</option>
                    </select>
                </div>
                <div class="input__field w-100">
                    <label for="Rent Frequency" class="form-label">Section</label>
                    <select id="section-id" class="form-select select_font_14" asp-for="SectionId" asp-items="sections">
                    </select>
                </div>
            </div>
            <div class="d-flex gap-3 mt-3">
                <div class="input__field w-100">
                    <label for="Rent Frequency" class="form-label">Drafted?</label>
                    <select id="is-drafted" class="form-select select_font_14" asp-for="IsDrafted">
                        <option selected value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="input__field w-100">
                    <label for="Rent Frequency" class="form-label">Tracking Number</label>
                    <input type="text" class="form-control pagagraph" asp-for="TrackingNumber">
                </div>
            </div>
            <div class="d-flex mt-3 gap-3">
                <div class="input__field w-100">
                    <div class="mb-3">
                        <label for="Start-Date" class="form-label">Emailed</label>
                        <input type="date" class="form-control"  placeholder="01 /06 / 2023" asp-for="EmailedOn">
                    </div>
                </div>
                <div class="input__field w-100">
                    <div class="mb-3">
                        <label for="Start-Date" class="form-label">Served & Pictured</label>
                        <input type="date" class="form-control" placeholder="01 /06 / 2023" asp-for="ServedAndPictured">
                    </div>
                </div>
                <div class="input__field w-100">
                    <div class="mb-3">
                        <label for="Start-Date" class="form-label">Expiring Date</label>
                        <input type="date" class="form-control"  placeholder="01 /06 / 2023" asp-for="ExpiryDate">
                    </div>
                </div>
            </div>
            <label for="Payment Method" class="form-label">Comment</label>
            <div class="w-100 h-50 d-inline-block">
                <textarea class="w-100" asp-for="Comment" rows="4" cols="50"
                          placeholder="Add Comment"></textarea>
            </div>
        </div>
        </div>
        <div class="popup_footer_fixed border-top d-flex justify-content-between bg-white">
            <div class="shadow-box">
                <a class="custom__btn" href="#" data-bs-toggle="modal">
                    Cancel
                </a>
            </div>
            <div class="shadow-box ms-auto">
                <a onclick="submitButton.click()" class="custom__btn2">
                    Create Notice
                </a>
                <input type="submit" id="submitButton" hidden value="Create" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('.select_font_14').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: true,
            dropdownCssClass: "select_font_14",
        });
    });
</script>