@using CromWood.Business.Services.Interface;
@using CromWood.Data.Entities.Default;
@model CromWood.Business.Models.ClaimModel
@inject ITenantService _tenantService;
@inject ILookupService<ClaimType> _claimTypeLookup;
@inject ILookupService<Court> _courtLookup;

@{
    var asynClaimType = await _claimTypeLookup.GetAllItems();
    var claimTypes = new SelectList(asynClaimType.Data, "Id", "Name");

    var asynCourts = await _courtLookup.GetAllItems();
    var courts = new SelectList(asynCourts.Data, "Id", "Name");

    var asyncTenants = await _tenantService.GetTenantForList();
    var tenants = new SelectList(asyncTenants.Data, "Id", "FullName");
}

<div class="modal-content rounded-0">
    <div class="modal-header py-2">
        <h5 class="modal-title" id="staticBackdropLabel">Add/Edit Claim</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form asp-action="AddModifyClaim">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m=>m.Id)
            <div class="form-group">
                <label asp-for="TenantId" class="control-label"></label>
                <select asp-for="TenantId" class="form-control" asp-items="tenants"></select>
                <span asp-validation-for="TenantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaimReference" class="control-label"></label>
                <input asp-for="ClaimReference" class="form-control" />
                <span asp-validation-for="ClaimReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaimTypeId" class="control-label"></label>
                <select asp-for="ClaimTypeId" class="form-control" asp-items="claimTypes"></select>
                <span asp-validation-for="ClaimTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaimNo" class="control-label"></label>
                <input asp-for="ClaimNo" class="form-control" />
                <span asp-validation-for="ClaimNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fee" class="control-label"></label>
                <input asp-for="Fee" type="number" class="form-control" />
                <span asp-validation-for="Fee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HearingDate" class="control-label"></label>
                <input asp-for="HearingDate" class="form-control" />
                <span asp-validation-for="HearingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourtId" class="control-label"></label>
                <select asp-for="CourtId" class="form-control" asp-items="courts"></select>
                <span asp-validation-for="CourtId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Action" class="control-label"></label>
                <input asp-for="Action" class="form-control" />
                <span asp-validation-for="Action" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

