@using CromWood.Business.Services.Interface;
@inject IRolePermissionService _rolePermisssion;
@model CromWood.Business.Models.UserModel

@{
    var asyncRoles= await _rolePermisssion.GetRolesAsync();
    var roles = new SelectList(asyncRoles.Data, "Id", "Name");
}

    <div class="modal-content rounded-0">
        <div class="modal-header py-2">
            <h5 class="modal-title" id="staticBackdropLabel">Invites New Members</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form asp-action="InviteUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">User's Name</label>
                        <input type="text" class="form-control" asp-for="Name"
                                   placeholder="Marcus Smart">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="mb-3">
                        <label asp-for="Email" class="form-label">Email Address</label>
                        <input type="email" class="form-control" asp-for="Email"
                                   placeholder="markussmart@abs.com">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="mb-3">
                        <label asp-for="Password" class="form-label">Default Password</label>
                        <input type="text" class="form-control" asp-for="Password"
                                   placeholder="0000 0000">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="mb-3">
                        <label asp-for="RoleId" class="form-label">Role</label>
                            <select class="form-select" aria-label="Default select example" asp-for=RoleId asp-items="roles">
                                <option selected>Select Role</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div  class="custom__btn2 text-end border-top pt-3 mt-5">
                    <input type="submit" value="Invite" />
                </div>
            </form>
        </div>
    </div>


@* 

<h4>UserModel</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="InviteUser">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                <select asp-for="RoleId" asp-items="roles"></select>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

