@model CromWood.Business.Models.PaymentPlanTransactionModel
@{
    var tenancyId = ViewBag.TenancyId;
}

<div class="modal-content rounded-0 model-custom-bg">
    <div class="modal-header py-2 bg-white">
        <h5 class="modal-title" id="staticBackdropLabel">Add New Transaction</h5>
        <span class="pagagraph ms-2">Tenancy 112384</span>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form asp-action="AddModifyPaymentPlanTransaction" asp-route-tenancyId="@tenancyId">
        @Html.HiddenFor(m=>m.Id)
        @Html.HiddenFor(m=>m.PaymentPlanId)
        @Html.HiddenFor(m=>m.ReferenceID)
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ReferenceID" class="control-label"></label>
            <input asp-for="ReferenceID" disabled class="form-control" />
            <span asp-validation-for="ReferenceID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PaymentDate" class="control-label"></label>
            <input asp-for="PaymentDate" class="form-control" />
            <span asp-validation-for="PaymentDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Amount" class="control-label"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
