@using System.Security.Claims;
@using CromWood.Business.Constants;
@using CromWood.Business.Services.Interface;
@inject IAuthService _authService;
@inject IUserService _userService;
@{
    var accessPropertyManagement = false;
    var accessAccessManagement = false;
    var accessLicense = false;
    var accessTenancyManagement = false;
    var accessTenantManagement = false;
    var accessUserSetting = false;
    var toogleClass = Context.Request.Cookies["sidebar-toggle"] == "true" ? "sb-sidenav-toggled" : "";
    string userName = "";
    if (User.Identity!.IsAuthenticated)
    {
        var userId = Guid.Empty.ToString();
        userId = User.Claims.First(o => o.Type == ClaimTypes.NameIdentifier).Value.ToString();
        var userAsync = await _userService.GetUserById(Guid.Parse(userId));
        userName = userAsync.Data.Name;
        accessPropertyManagement = await _authService.CheckPermission(PermissionKeyConstant.PropertyManagement, PermissionConstant.ViewAll);
        accessAccessManagement = await _authService.CheckPermission(PermissionKeyConstant.AssetManagement, PermissionConstant.ViewAll);
        accessLicense = await _authService.CheckPermission(PermissionKeyConstant.LicenseManagement, PermissionConstant.ViewAll);
        accessTenantManagement = await _authService.CheckPermission(PermissionKeyConstant.TenantManagement, PermissionConstant.ViewAll);
        accessTenancyManagement = await _authService.CheckPermission(PermissionKeyConstant.TenancyManagement, PermissionConstant.ViewAll);
        accessUserSetting = await _authService.CheckPermission(PermissionKeyConstant.UserManagement, PermissionConstant.ViewAll);
    }

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CromWood Housing Group Management Software @ViewBag.Title</title>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Sora:wght@200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> -->
    <!-- -->
    <link href="~/assets/img/favicon.png" rel="icon" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed @toogleClass">
    <nav class="sb-topnav navbar navbar-expand navbar-dark border-bottom bg-white">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-5 visually-hidden" href="index.html">
            <img src="~/assets/img/site__logo.png" />
        </a>

        <!-- Navbar Search-->
        <form class="t_search d-none d-md-inline-block form-inline mx-auto w-50 ">
            <div class="input-group flex-nowrap">
                <span class="input-group-text element-bg pe-0" id="addon-wrapping">
                    <img src="~/assets/img/top_search_icon.svg" alt="searc__icon">
                </span>
                <input type="text" class="form-control border-start-0 border-end-0 element-bg" placeholder="" aria-label="Username"
                       aria-describedby="addon-wrapping">
                <span class="input-group-text element-bg searhbar_text" id="addon-wrapping">
                    <span class="forword_icon">
                        press
                        <img src="~/assets/img/keycap-asterisk.svg" alt="forword_icon">
                        to start search
                    </span>
                    <span class="cornerdown_icon">
                        press
                        <img src="~/assets/img/corner_down_icon.svg" alt="forword_icon">
                        to search
                    </span>
                </span>
            </div>
        </form>
        <!-- Navbar-->
        <!-- Notification  -->
        <div class="btn-group noti__f">
            <a class="dropdown-toggle element-bg" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="~/assets/img/bell-icon.svg" />
                <span class="notic__num">20</span>
            </a>
            <div class="dropdown-menu noti_content dropdown-menu-end  shadow border-0 rounded-0">
                <ul>
                    <li class="annoce active">
                        <h4><img class="me-1" src="~/assets/img/annocement_icon.svg" /> Announcement </h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.
                            Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris.
                        </p>
                        <div class="date__qqq">
                            <span>11 Dec, 22 at 9:42 AM</span>
                        </div>
                    </li>
                    <li class="req__ active">
                        <h4><img class="me-1" src="~/assets/img/requist__icon.svg" /> Request </h4>
                        <div class="date__qqq">
                            <span>11 Dec, 22 at 9:42 AM</span>
                        </div>
                    </li>
                    <li class="approve__">
                        <h4><img class="me-1" src="~/assets/img/approvel__icon.svg" /> Approved </h4>
                        <div class="date__qqq">
                            <span>11 Dec, 22 at 9:42 AM</span>
                        </div>
                    </li>
                    <li class="annoce">
                        <h4><img class="me-1" src="~/assets/img/annocement_icon.svg" /> Announcement </h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.
                            Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris.
                        </p>
                        <div class="date__qqq">
                            <span>11 Dec, 22 at 9:42 AM</span>
                        </div>
                    </li>
                </ul>
                <div class="mark__btn text-center">
                    <img class="me-1" src="~/assets/img/marked_all.svg" />
                    <a href="#">Mark all as read</a>
                </div>
            </div>
        </div>
        <!-- End here Notification -->
        @if (User.Identity!.IsAuthenticated)
        {
            <div class="dropdown">
                <button class="btn text-black dropdown-menu-button pe-3" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="user-profile-pic">
                        <img class="avtar_img" src="~/assets/img/avtar__img.png" />
                    </div>

                    <span class="avtar_name main-font">@userName</span>
                    <img src="~/assets/img/avtar-drop-down.svg" alt="dropdownicon" />
                </button>

                <ul class="dropdown-menu shadow border-0 rounded-0 w-100" aria-labelledby="dropdownMenuButton1">
                    <li class="pb-2">
                        <a class="dropdown-item">
                            <img class="pe-2" src="~/assets/img/user--settings.svg" />
                            Profile Settings
                        </a>
                    </li>
                    <li class="pb-2">
                        <a class="dropdown-item" asp-action="LogOut" asp-controller="Auth">
                            <img class="pe-2" src="~/assets/img/logout.svg" />
                            Sign Out
                        </a>
                    </li>
                </ul>
            </div>
        }
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav" class="border-end bg-white">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="site___logo">
                    <div class="site_idintity">
                        <!-- Navbar Brand-->
                        <a class="navbar-brand" href="index.html">
                            <img class="main__logo" src="~/assets/img/cromwood-logo-custom1.svg" />
                            <img class="colored_leaf" src="~/assets/img/colored_leaf_logo.svg" />
                        </a>
                        <!-- Sidebar Toggle-->
                        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
                            <img class="outer_toggle" src="~/assets/img/outer_toggle.svg" alt="menu_toggle_icon">
                            <img class="inner_toggle" src="~/assets/img/one_arrow-toggle.svg" alt="menu_toggle_icon">
                        </button>
                    </div>
                </div>
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" id="nav-dashboard" asp-action="Index" asp-controller="Test">
                            <div class="sb-nav-link-icon">
                                <img class="main_nav_icon" src="~/assets/img/main_dashboard_icon.svg" />
                                <img class="active_nav_icon" src="~/assets/img/Dashboard.svg" />
                            </div>
                            <span class="nav__text">Dashboard</span>
                        </a>
                        @*
                        <a class="nav-link" href="scheme-performance.html">
                        <div class="sb-nav-link-icon">
                        <img class="main_nav_icon" src="~/assets/img/scheme per.svg" />
                        <img class="active_nav_icon" src="~/assets/img/main_scheme_icon.svg" />
                        </div>
                        <span class="nav__text">Scheme Performance</span>
                        </a> *@

                        @if (accessPropertyManagement)
                        {
                            <a class="nav-link" id="nav-property-management" asp-action="Index" asp-controller="Property">
                                <div class="sb-nav-link-icon">
                                    <img class="main_nav_icon" src="~/assets/img/main_property_management.svg" />
                                    <img class="active_nav_icon" src="~/assets/img/active_property_mana_iocn.svg" />
                                </div>
                                <span class="nav__text">Property Management</span>
                            </a>
                        }

                        @if (accessAccessManagement)
                        {
                            <a class="nav-link" id="nav-asset-management" asp-action="Index" asp-controller="Asset">
                                <div class="sb-nav-link-icon">
                                    <img class="main_nav_icon" src="~/assets/img/main_asset_management.svg" />
                                    <img class="active_nav_icon" src="~/assets/img/active_asset_management.svg" />
                                </div>
                                <span class="nav__text">Asset Management</span>
                            </a>
                        }

                        @if (accessLicense)
                        {
                            <a class="nav-link" id="nav-license-certification" asp-action="Index" asp-controller="LicenseCertification">
                                <div class="sb-nav-link-icon">
                                    <img class="main_nav_icon" src="~/assets/img/main_license.svg" />
                                    <img class="active_nav_icon" src="~/assets/img/active_license.svg" />
                                </div>
                                <span class="nav__text">License & Certifications</span>
                            </a>
                        }


                        @*<a class="nav-link" id="property-assessment">
                        <div class="sb-nav-link-icon">
                        <img class="main_nav_icon" src="~/assets/img/main_property_ass.svg" />
                        <img class="active_nav_icon" src="~/assets/img/active_property_ass.svg" />
                        </div>
                        <span class="nav__text">Property Assessment</span>
                        </a>
                        *@
                        <a class="nav-link" id="nav-notice-claims" asp-action="Notice" asp-controller="NoticeClaims">
                            <div class="sb-nav-link-icon">
                                <img class="main_nav_icon" src="~/assets/img/main_notices.svg" />
                                <img class="active_nav_icon" src="~/assets/img/active_main_notices.svg" />
                            </div>
                            <span class="nav__text">Notices & Claims</span>
                        </a>

                        @if (accessTenantManagement)
                        {
                            <a class="nav-link" id="nav-tenant-management" asp-action="Index" asp-controller="Tenant">
                                <div class="sb-nav-link-icon">
                                    <img class="main_nav_icon" src="~/assets/img/main_tenants.svg" />
                                    <img class="active_nav_icon" src="~/assets/img/active_main_tenants.svg" />
                                </div>
                                <span class="nav__text">Tenants</span>
                            </a>
                        }
                        @if (accessTenancyManagement)
                        {
                            <a class="nav-link" id="nav-tenancy-management" asp-action="Index" asp-controller="Tenancy">
                                <div class="sb-nav-link-icon">
                                    <img class="main_nav_icon" src="~/assets/img/main_tenancy_manag.svg" />
                                    <img class="active_nav_icon" src="~/assets/img/active_main_tenancy_manag.svg" />
                                </div>
                                <span class="nav__text">Tenancy Management</span>
                            </a>
                        }


                        <a class="nav-link" id="nav-messages" asp-action="Sent" asp-controller="Messages">
                            <div class="sb-nav-link-icon">
                                <img class="main_nav_icon" src="~/assets/img/main_messages.svg" />
                                <img class="active_nav_icon" src="~/assets/img/active_main_messages.svg" />
                            </div>
                            <span class="nav__text">Messages</span>
                        </a>
                        @*
                        <a class="nav-link collapsed myc" href="finance-management.html" data-bs-toggle="collapse"
                        data-bs-target="#Finance-tab" aria-expanded="false" aria-controls="Finance-tab">
                        <!-- <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div> -->
                        <div class="sb-nav-link-icon">
                        <img class="main_nav_icon" src="~/assets/img/main_finance_manag.svg" />
                        <img class="active_nav_icon" src="~/assets/img/active_main_finance_manag.svg" />
                        </div>
                        <span class="nav__text">Finance Management</span>
                        <div class="sb-sidenav-collapse-arrow">
                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1.5L6 6.5L11 1.5" stroke="#2F2E35" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        </div>
                        </a>

                        <div class="collapse" id="Finance-tab" aria-labelledby="headingOne"
                        data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="index.html">Finance Dashboard</a>
                        <a class="nav-link" href="index.html">Rent Management</a>
                        <a class="nav-link" href="index.html">Payment Plan</a>
                        <a class="nav-link" href="index.html">Housing Benefits</a>
                        <a class="nav-link" href="index.html">Revenue & Expenses</a>
                        </nav>
                        </div>
                        *@
                        <a class="nav-link" id="nav-complaints" asp-action="Index" asp-controller="Complaints">
                            <div class="sb-nav-link-icon">
                                <img class="main_nav_icon" src="~/assets/img/main_complaints.svg" />
                                <img class="active_nav_icon" src="~/assets/img/active_main_complaints.svg" />
                            </div>
                            <span class="nav__text">Complaints</span>
                        </a>

                        @*
                        <a class="nav-link" href="reports.html">
                        <div class="sb-nav-link-icon">
                        <img class="main_nav_icon" src="~/assets/img/main_reports.svg" />
                        <img class="active_nav_icon" src="~/assets/img/active_main_reports.svg" />
                        </div>
                        <span class="nav__text">Reports</span>
                        </a> *@

                        @if (accessUserSetting)
                        {
                            <a class="nav-link collapsed myc" href="#" data-bs-toggle="collapse"
                               data-bs-target="#collapseSetting" aria-expanded="true" aria-controls="collapseSetting">
                                <div class="sb-nav-link-icon">
                                    <img class="main_nav_icon" src="~/assets/img/main-settings.svg" />
                                    <img class="active_nav_icon" src="~/assets/img/active_settings.svg" />
                                </div>
                                <span class="nav__text">Settings</span>
                                <div class="sb-sidenav-collapse-arrow">
                                    <div class="sb-sidenav-collapse-arrow">
                                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 1.5L6 6.5L11 1.5" stroke="#2F2E35" stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </div>
                            </a>
                            <div class="collapse" id="collapseSetting" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" asp-controller="User" asp-action="Index">User Role & Permission</a>
                                    <a class="nav-link" href="index.html">Condition Assessment</a>
                                </nav>
                            </div>
                        }

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a class="nav-link" id="nav-login" asp-action="Login" asp-controller="Auth">
                                <div class="sb-nav-link-icon">
                                    <img class="main_nav_icon" src="~/assets/img/main_reports.svg" />
                                    <img class="active_nav_icon" src="~/assets/img/active_main_reports.svg" />
                                </div>
                                <span class="nav__text">Login</span>
                            </a>
                        }
                    </div>
                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content" class="dashboard-bg">
            <main>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    <script src="~/js/nav-script.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/assets/demo/chart-area-demo.js"></script>
    <script src="~/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="~/js/datatables-simple-demo.js"></script>
    <script src="~/assets/demo/chart-pie-demo.js"></script>

    <script>
        $(document).ready(function () {
            // Toggle the side navigation
            const sidebarToggle = document.body.querySelector('#sidebarToggle');
            sidebarToggle.addEventListener('click', event => {
                event.preventDefault();
                document.body.classList.toggle('sb-sidenav-toggled');
                document.cookie = `sidebar-toggle=${document.body.classList.contains('sb-sidenav-toggled')}`;
            });

            $('.t_search').click(function () {
                $(this).toggleClass('input_on');
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
