@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-3 mt-3">
    <li class="breadcrumb-item">
        <a href="index.html"><img src="~/assets/img/Home_icon.svg" alt="home_icon"></a>
    </li>
    <li class="breadcrumb-item active">Settings</li>
</ol>
<h1 class="mt-2 mb-3 custom_h">User Roles & Permission</h1>
<nav class="user___tabs">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link text-capitalize" id="nav-user-list-tab" asp-action="Index" asp-controller="User">
            user list
        </a>
        <a class="nav-link text-capitalize" id="role_permission-tab" asp-action="Index" asp-controller="RolePermission">
            roles & permissions
        </a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    @RenderBody()
</div>

<script>
    console.log(window.location.pathname)
    if (window.location.pathname == "/User"){
        document.getElementById("nav-user-list-tab").classList.add('active');
    }
    if (window.location.pathname == "/RolePermission") {
        document.getElementById("role_permission-tab").classList.add('active');
    }
</script>
